.parent-icons{
     margin-left: 85%;
     margin-top: 16%;
     position: fixed;
     z-index: 10;
}
.son-icons{
   margin-top: 30px;
   padding: 5px;
   background-color: rgba(205, 148, 219, 0.5);
   text-align: center;
}
.icon{
    color: rgb(98, 167, 202);
    font-size: 50px;
}
.carousel-inner img{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.readmore:hover{
   background-color: rgb(6, 109, 160) !important;
} 
.btnml{
    margin-left: 65% !important;
}
.image , .image2{
    background-size: cover;
    background-attachment: fixed;
    height: 45vh;
    border-radius: 30px;
    margin-top: 30px;
}
.image{
    background-image: url(../images/cake13.jpg);
}
.image2{
    background-image: url(../images/cake3.jpg);
}
.btn{
    background-color: rgb(205, 148, 219) !important;
    border-style: none !important;
    color: white !important;
}
.overlay::after{
    position: absolute;
    z-index: 2;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(205, 148, 219, 0.9);
    opacity: 0;
}
.overlay:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s;
} 

.overlay::before{
    position: absolute;
    z-index: 2;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(205, 148, 219, 0.9);
    opacity: 0;
}
.overlay:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s;
} 

.card-img-overlay{
    background-color: rgba(98, 168, 202, 0.5) !important;
}
.card-img-overlay:hover{
    background-color: rgba(205, 148, 219, 0.5) !important;
}
.team:hover{
    transform: scale(0.9,0.9);
}
.card-body .btn{
    margin-top: -50px;
}

.img-skew{
     clip-path: polygon(0 0 ,  100%  0 , 100% 100%, 15% 100% );
}

.line{
    width: 30%;
    height: 2px;
    border-radius: 50px;
}

.link{
    display: block;
}

.copy{
    text-shadow:  2px 0 2px #000000;
}

/* .rotate:hover{
    transform: rotate(180deg);
} */
 